body{
  background-image: url('ChatGPT\ Image\ May\ 31\,\ 2026\,\ 07_41_49\ PM.png');
  background-size: cover;
  display:flex;
  justify-content: center;
}
.input, .bton{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input{
  margin-top:4rem;
}
input{
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  padding: 5px;
  width: 250px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  color: whitesmoke;
}
.bton{
  margin-top: 2rem;
}
input, button{
  width: 250px;
  height: 40px;
  border-radius: 0.5rem;
  outline: none;
}
input:focus{
  transform:scale(1.08);
    box-shadow:
    0 0 10px rgba(0, 0, 0, 1),
    0 0 30px rgba(0, 0, 0, 0.8),
    0 0 60px rgba(0, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.05)
}

button{
  border-radius:2rem;
  padding: 12px 48px;
  font-size: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  letter-spacing: 1px;
}
.box{
  height: 250px;
  width: 350px;
  margin-top: 16rem;
  border-radius: 1.5rem;
  backdrop-filter: blur(12px);              /* blurs what's behind it */
  -webkit-backdrop-filter: blur(12px);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
input::placeholder{
  transition: all 0.3s ease;
}
input:focus::placeholder{
  transform: translateY(-35px);
}